{% extends '_app.html.twig' %}

{% block title %}{{ page.title }}{% endblock %}

{% block body %}
    <section id="local-navbar" class="text-light">
        <div class="container">
            <div class="row">
                <div class="d-flex justify-content-center align-items-center my-1">
                    <div id="myBtnContainer">
                        <button class="btn active" onclick="filterSelection('all')">alle zeigen</button>
                        {% for category in categories %}
                            {% if category.articles is not empty %}
                                <button class="btn" onclick="filterSelection('{{ category.slug }}')">{{ category.label|trans }}</button>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>

            </div>
        </div>
    </section>
<section id="main">
    <div class="container-fluid p-0 my-1">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-1 mx-0">
            {% for article in articles %}
                <div class="col column {{ article.category.slug }}">
                    <div class="card  bg-black shadow-hover">
                        {% if article.image %}
                            <img
                                    src="{{ vich_uploader_asset(article)|imagine_filter('portfolio_grid_small') }}"
                                    {{ stimulus_controller('symfony/ux-lazy-image/lazy-image', {
                                        src: vich_uploader_asset(article)|imagine_filter('portfolio_grid')
                                    }) }}
                                    alt="{{ article.alt }}"
                                    class="card-img"
                            >
                        {% endif %}
                        <div class="card-img-overlay d-flex justify-content-between align-items-center text-center flex-column">
                            <a href="{{ path('journal_show',{'slug':article.slug}) }}" class="badge stretched-link text-light bg-dark mb-2">weiterlesen</a>
                            <div>
                                <div class="card-title h4 text-truncate">{{ article.title }}</div>
                                <p>{{ article.description }}</p>
                            </div>
                            <div class="card-text text-uppercase d-flex flex-column justify-content-between">
                                <span  class="text-light  mb-2">{{ article.updated|ago }}</span>
                            </div>
                        </div>
                    </div>
                </div>

            {% else %}
                <span>Noch keine Journaleinträge vorhanden.</span>
            {% endfor %}
        </div>


    </div>
</section>

    <script type="text/javascript">
        filterSelection("all") // Execute the function and show all columns
        function filterSelection(c) {
            var x, i;
            x = document.getElementsByClassName("column");
            if (c == "all") c = "";
            // Add the "show" class (display:block) to the filtered elements, and remove the "show" class from the elements that are not selected
            for (i = 0; i < x.length; i++) {
                w3RemoveClass(x[i], "show");
                if (x[i].className.indexOf(c) > -1) w3AddClass(x[i], "show");
            }
        }

        // Show filtered elements
        function w3AddClass(element, name) {
            var i, arr1, arr2;
            arr1 = element.className.split(" ");
            arr2 = name.split(" ");
            for (i = 0; i < arr2.length; i++) {
                if (arr1.indexOf(arr2[i]) == -1) {
                    element.className += " " + arr2[i];
                }
            }
        }

        // Hide elements that are not selected
        function w3RemoveClass(element, name) {
            var i, arr1, arr2;
            arr1 = element.className.split(" ");
            arr2 = name.split(" ");
            for (i = 0; i < arr2.length; i++) {
                while (arr1.indexOf(arr2[i]) > -1) {
                    arr1.splice(arr1.indexOf(arr2[i]), 1);
                }
            }
            element.className = arr1.join(" ");
        }

        // Add active class to the current button (highlight it)
        var btnContainer = document.getElementById("myBtnContainer");
        var btns = btnContainer.getElementsByClassName("btn");
        for (var i = 0; i < btns.length; i++) {
            btns[i].addEventListener("click", function(){
                var current = document.getElementsByClassName("active");
                current[0].className = current[0].className.replace(" active", "");
                this.className += " active";
            });
        }
    </script>

{% endblock %}
