{% for item in portfolio %}
    <div class="card bg-black shadow-hover column {% for tag in item.tags %}{{ tag.slug }} {% endfor %}">
        <img
                src="{{ vich_uploader_asset(item)|imagine_filter('portfolio_grid_small') }}"
                {{ stimulus_controller('symfony/ux-lazy-image/lazy-image', {
                    src: vich_uploader_asset(item)|imagine_filter('portfolio_grid')
                }) }}
                alt="{{ item.alt }}"
                class="card-img"
        >
        <div class="card-img-overlay d-flex justify-content-end align-items-center flex-column">
            <h6 class="card-title text-uppercas">{{ item.title }}</h6>
            <div class="card-text text-uppercase">
                {% for tag in item.tags %}
                    <span class="badge text-danger bg-dark">{{ tag.label }}</span>
                {% else %}
                    <span class="badge bg-dark">nicht getagged</span>
                {% endfor %}
            </div>
        </div>
    </div>
{% else %}
    <span>Keine Portfolio-Einträge vorhanden.</span>
{% endfor %}

