{% extends 'base.html.twig' %}

{% block title %}{{ app.title|default('title') }}{% endblock %}

{% block content %}

    {% block offcanvas %}
        {{ include('_component/_offcanvas_menu.html.twig') }}
    {% endblock %}

    {{ render_esi(path('ch_cookie_consent.show_if_cookie_consent_not_set',{ 'locale' : 'de' })) }}

    {% block header %}
        {{ include('_component/_navbar.html.twig') }}
    {% endblock %}

    <main class="flex-grow-1">
        {% block body %}
            replace  body
        {% endblock %}
    </main>


    {% block footer %}
        <footer>
            <div id="legal">
                <div class="container">
                    <div class="row py-5">
                        <div class="col-6 col-md-4">
                            <h6>Unternehmen</h6>
                            {{ knp_menu_render('legal',{'depth': 1,'allow_safe_labels': true}) | raw }}
                        </div>
                        <div class="col-6 col-md-4">
                            <h6>Service</h6>
                            {{ knp_menu_render('service',{'depth': 1,'allow_safe_labels': true}) | raw }}
                        </div>
                        <div class="col-6 col-md-4">
                            <ul class="list-unstyled">
                                <h6>Social Media</h6>
                                {{ render(controller(
                                    'App\\Controller\\ApiController::getSocialMediaLinksAsList'
                                )) }}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div id="copyright">
                <div class="container">
                    <div class="row py-3">
                        <div class="col">
                            <div class="d-flex justify-content-start align-items-center">
                                <img src="{{ asset('build/images/logo/wp_logo_dark.png') }}" alt="Wagner Pictures Logo" width="16px" class="me-2">
                                <small>Copyright &copy; 2021 - 2022 | Wagner Pictures</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    {% endblock %}

{% endblock %}
